* *::before, *::after {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family : 'Comforter Brush';
    src : url('ComforterBrush-Regular.ttf');
}

@font-face {
    font-family: 'Caveat Brush';
    src : url('CaveatBrush-Regular.ttf');
}

/* @font-face {
    font-family : 'Kolker Brush';
    src : url('KolkerBrush-Regular.ttf');
} */

body {
    background-color: antiquewhite;
    user-select: none;
}

input[type="radio"] {
    width : auto !important;
}

.boxed {
    border-radius : 5px;
    box-shadow : 0 5px 10px rgb(81, 86, 104);

}

.init-container {
    width : 500px;
    background-color: burlywood;
    margin : 150px auto;
    padding : 20px;
}

.init-choices {
    display : flex;
    background-color: cadetblue;
    justify-content: space-around;
    padding : 20px;
}

.init-choice {
    background-color: coral;
    width : 175px;
    color : azure;
    font-size : 30px;
    text-align: center;
    font-family : 'Comforter Brush';
    transition : .1s;
}

.active:hover {
    background-color: rgb(228, 125, 87);
    transform : scale(1.01);
    box-shadow : 0 10px 15px rgb(34, 34, 59);
}

.active:active {
    background-color: rgb(211, 105, 79);
    transform : scale(.99);
}

.second-stage {
    display : flex;
    flex-direction : column;
    align-items: center;
    padding : 10px;
}

.second-stage input {
    padding : 5px;
    width : 130px;
    font-size : 30px;
    font-family : 'Comforter Brush';
    text-align : center;
    background : rgb(199, 182, 182);
}

.start-button {
    margin : 10px;
    padding : 5px;
    background-color :rgb(235, 217, 214);
    color : rgb(15, 32, 63);
    border-radius : 5px;
    border : none;
    font-family : 'Comforter Brush';
    font-size : 20px;
    text-align: center;
}

.start-button:hover {
    background-color :rgb(219, 204, 195);
}

.start-button:active {
    background-color :rgb(207, 180, 180);
    transform : scale(.99);
}

.ai-button {
    font-size : 25px;
    padding : 5px;
    font-family : 'Comforter Brush';
}

.ai-button {
    background-color: rgb(238, 187, 145);
}

.ai-button:hover {
    background-color: rgb(223, 167, 130);
}
.ai-button:active {
    background-color: rgb(189, 130, 106);
    transform : scale(.99);
}

.ai-menu {
    position : relative;
}

.ai-levels {
    position : absolute;
    left : 0;
    padding : 0 0 0 30px ;
    font-size : 30px;
    display : flex;
    flex-direction : column;
    align-items: flex-start;
    background-color: rgba(132, 157, 190, .8);
    width : 125px;
    transition : opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.inactive {
    opacity : 0;
    pointer-events : none;
    transform : translate(-10px);
}

.active {
    opacity : 1;
    pointer-events : auto;
    transform : translate(0);
}

.board {
    width : 500px;
    height : 500px;
    background-color: burlywood;
    padding : 20px;
    margin : 50px auto;
    display : grid;
    grid-template-columns: auto auto auto;
    gap : 1.5em;
}

.pad {
    background-color: cornsilk;
    font-size : 100px;
    display : flex;
    justify-content: center;
    align-items: center;
    font-family : 'Comforter Brush';
    width : 150px;
    height : 150px;
    justify-self: center;
    align-self : center;
}

.tile-on:hover {
    box-shadow: 0 10px 15px rgb(72, 51, 51);
}

.tile-on:active {
    transform : scale(.99);
}

.lights {
    margin : 50px auto;
    width : 700px;
    color : azure;
    display : flex;
    justify-content: space-around;
}

.player {
    background : blue;
    font-size : 30px;
    padding : 10px;
    font-family : 'Comforter Brush';
    border-radius : 10px;
}

.lights-on {
    background-color: rgb(60, 140, 192);
    box-shadow: 0 0 20px rgb(147, 147, 228);
    transform : scale(1.05);
}

.lights-off {
    background-color: rgb(27, 80, 116);
    color : rgb(138, 189, 189);
    box-shadow : 0 5px 15px rgb(160, 108, 108);
}

.warning-message {
    margin-left : 5px;
    color : rgb(243, 18, 18);
    font-size : 15px;
    padding : 5px;
    border-radius : 3px;
    display : inline-block;
    font-family : monospace;
    background : rgb(231, 231, 105);
    position : relative;
    transition : 500ms;
}

.warning-message::before {
    position : absolute;
    content : '';
    left : -18px;
    top : calc(50% - 9px);
    border : 9px solid transparent;
    border-right-color : rgb(231, 231, 105);
}

.warning-wrapper {
    position : absolute;
    display : inline;
    margin : 0 5px;
}

.hidden {
    display : none;
    pointer-events: none;
}

.game-over-screen {
    background: rgba(208, 199, 189, 0.5);
    position : fixed;
    top : 0;
    left : 0;
    z-index : 1;
    height : 100%;
    width : 100%;
    font-family : 'Caveat Brush';
    font-size : 40px;
    color : rgb(228, 26, 26);
}

.disable-screen {
    background : rgba(0, 0, 0, 0);
    position : fixed;
    top : 0;
    left : 0;
    z-index : 10;
    height : 100%;
    width : 100%;
}

.wrapper {
    background: rgba(93, 156, 158, .7);
    width : 400px;
    margin : 50px auto;
    padding : 20px;
    display : flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background : rgba(235, 229, 167, .7);
    padding : 10px;
    width : 350px;
    text-align: center;
}

.play-again-button {
    padding : 10px;
    font-size : 30px;
    border-radius : 5px;
    border : 1px solid red;
    background : rgb(177, 141, 134);
    color : azure;
    font-family : 'Caveat Brush';
}

.play-again-button:hover {
    background : rgb(150, 119, 108);
} 

.play-again-button:active {
    background : rgb(133, 99, 92);
    transform : scale(.99);
    border : 1px solid aqua;
} 

@media screen and (max-width : 600px) {
    .board {
        width : 300px;
        height : 300px;
    }

    .lights {
        width : 100%;
    }

    .pad {
        width : 75px;
        height : 75px;
        font-size : 60px;
    }

    .player {
        font-size : 15px;
    }

    .wrapper {
        width : 300px;
    }
}